


.resumeBody{
    display: flex;
    flex-direction: column;
    background-color: #f9e4bc;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    border-radius: 30px;
}

.name{
    font-size: 32px;
    text-align: center;
}

.section{
    font-size: 24px;
    border-bottom: 2px solid gray;
}

.date{
    margin-left: auto;
}

.title{
    display: flex;
}


.button{
    background-color: #FFFDD0;
    height: 100px;
    width: 250px;
    border-radius: 30px;
    border-color: transparent;
    font-size: 25px;
}


.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeViewingBody{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}